
<section class="featured-blog mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/third bg.jpg" alt="blog1" />
            <h3>Sample blog post 1</h3>
            <p>by <span>sakshi</span> on <span>16 july</span></p>
            <p>We are cards.please use us. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/third bg.jpg" alt="blog1" />
            <h3>Sample blog post 2</h3>
            <p>by <span>sakshi</span> on <span>16 july</span></p>
            <p>We are cards.please use us. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/third bg.jpg" alt="blog1" />
            <h3>Sample blog post 3</h3>
            <p>by <span>sakshi</span> on <span>16 july</span></p>
            <p>We are cards.please use us. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/third bg.jpg" alt="blog1" />
            <h3>Sample blog post 4</h3>
            <p>by <span>sakshi</span> on <span>16 july</span></p>
            <p>We are cards.please use us. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/third bg.jpg" alt="blog1" />
            <h3>Sample blog post 5</h3>
            <p>by <span>sakshi</span> on <span>16 july</span></p>
            <p>We are cards.please use us. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/third bg.jpg" alt="blog1" />
            <h3>Sample blog post 6</h3>
            <p>by <span>sakshi</span> on <span>16 july</span></p>
            <p>We are cards.please use us. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  